@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Spectral+SC:ital,wght@1,500&display=swap');

body{
    font-family: 'Spectral SC', serif;
}


#hero{
    background-image: url('./assets/pic1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h3{
    text-decoration: underline;
}